#signUp {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: dotted rgb(62, 62, 233);
    width: 35%;
    margin: auto;
}
.submitButton {
    width: 40%;
    margin: auto;
    background: white;
    border: solid 4px red;
    margin-top: 4%;
    padding: 1% 0% 1% 0%;
    -webkit-transition-duration: 0.4s;
    cursor: pointer;
    font-size: 20px;   
}
.submitButton:hover {
    background-color: red;
    color: black;
}
.signUpInput {
    margin-top: 1%; 
}